<div class="jumbotron text-center">
    <h1 class="text-center">Dev Match Community</h1>
     <p class="text-center">Welcome to the Dev Match Community. Users must fill out a profile in order to be visible in The Community.</p>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <ul class="list-unstyled">
      <% @users.each do |user| %>
        <% if user.profile %>
        <li>
          <div class="well row <%= cycle('white-bg', '') %>">
            <div class="col-sm-4 text-center">
              <% if user.profile.avatar %>
                <%= link_to user do %>
                  <%= image_tag user.profile.avatar.url(:thumb), class: 'user-index-avatar' %>
                <% end %>
              <% end %>
            </div>
            
            <div>
              <%= link_to user do %>
                <h2><%= user.profile.first_name %> <%= user.profile.last_name %></h2>
              <% end %>
              <p>
                <%= user.profile.job_title %></p>
                <% if user.plan_id == 2 %>
                <span class="label label-danger">PRO</span>
                <% end %>
            </div>
          </div>
        </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
<!-- Footer -->
  <footer class="footer">
    <div class="container">
      <p class="text-muted">Feel free to create your own profile or view seeded information. </br>All profiles are depicted with Pro Membership for your convenience. </br>Please do not delete or alter any seed information.</p>
    </div>
  </footer>