<div class="jumbotron text-center">
    <h1 class="text-center">Contact us at Dev Match</h1>
        <h4 class="text-center">Reach out if you have any questions or comments.</h4>
</div>
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="well">
            <%= form_for @contact do |f| %>
                <div class="form-group">
                    <%= f.label :name %>
                    <%= f.text_field :name, class:"form-control" %>
                </div>
                 
                <div class="form-group">
                    <%= f.label :email %>
                    <%= f.email_field :email, class:"form-control" %>
                </div>
                
                <div class="form-group">
                    <%= f.label :comments %>
                    <%= f.text_area :comments, class:"form-control" %>
                </div>
                
                <%= f.submit 'Submit', class: 'btn btn-primary' %>
            <% end %>
        </div>
    </div>
</div>
<!-- Footer -->
  <footer class="footer">
    <div class="container">
      <p class="text-muted">Please send me an email if you have any site inquiries or concerns.</p>
    </div>
</footer>